
/* step 2? */
.nav {
    position: fixed;
    background-color: #06111C;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }

  /* step 3?*/
  .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      transition: all 0.3s ease-in-out;
    }
    
    .nav ul {
    display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
    }
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .letters {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }